Source: cpupower
Priority: optional
Maintainer: SoftReaper <softreaper@unknown>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/cpupower
#Vcs-Git: https://salsa.debian.org/debian/cpupower.git
Rules-Requires-Root: no

Package: libcpupower1
Section: libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CPU frequency and voltage scaling tools for Linux (libraries)
 libcpupower is a library for inspecting and controlling cpufreq and cpuidle tunables.
 .
 This package contains the shared library.

Package: libcpupower-dev
Section: libs    
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CPU frequency and voltage scaling tools for Linux (development files)
 libcpupower is a library for inspecting and controlling cpufreq and cpuidle tunables.
 .
 This package is needed to compile programs against libcpupower.

Package: linux-cpupower
Section: system
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CPU power management tools for Linux
 The cpupower command allows inspection and control 
 of cpufreq and cpuidle tunables for hardware that 
 supports these features. It replaces "cpufreq-info" 
 and "cpufreq-set" in cpufrequtils.
 .
 The turbostat command reports topology, frequency,
 idle power-state statistics, temperature and power
 consumption information as provided by the CPU.
 .
 The x86_energy_perf_policy command sets a general 
 policy on some Intel CPU models for the relative 
 importance of performance versus energy savings.
